@font-face {
	font-family: Canela;
	font-display: swap;
	src: url("../fonts/Canela-Black-Trial.woff2") format("woff2"), url("../fonts/Canela-Black-Trial.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Canela;
	font-display: swap;
	src: url("../fonts/Canela-Bold-Trial.woff2") format("woff2"), url("../fonts/Canela-Bold-Trial.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Canela;
	font-display: swap;
	src: url("../fonts/Canela-Medium-Trial.woff2") format("woff2"), url("../fonts/Canela-Medium-Trial.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Canela;
	font-display: swap;
	src: url("../fonts/Canela-Light-Trial.woff2") format("woff2"), url("../fonts/Canela-Light-Trial.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Canela;
	font-display: swap;
	src: url("../fonts/Canela-Thin-Trial.woff2") format("woff2"), url("../fonts/Canela-Thin-Trial.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Canela;
	font-display: swap;
	src: url("../fonts/Canela-Regular-Trial.woff2") format("woff2"), url("../fonts/Canela-Regular-Trial.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
